.company-info {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 3%;
}

.company-info h1 {
  margin-bottom: 10px;
}

.company-info p {
  font-size: 16px;
  line-height: 1.5;
}

.icon {
  width: 50vw;
  max-width: 400px;
  border-radius: 50%;
}
